.gridBox{

    position: relative;
    top: 0px;
    left: 0px;
    /* width: 1600px; */
    /* height: 1800px; */
    background-color: #F5F5F5;
    opacity: 1;
    border: 1px solid green;

}

.grid{
    position: relative;
    margin: 40px 200px;

    width: 1200px;
    display: grid;
    grid-template-columns: 260px 640px 260px;
    grid-template-rows: 80px auto;
    gap: 30px;
}


.logo{
   /* background-color: red; */
   font-size: 34px;
   font-family: Mongolian Baiti, Regular;
   background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
  
   padding-left: 35px ;
   padding-top: 27px;

}

.searchBox{
    background-color: red;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    position: relative;
}

.mag{
    position: relative;
    top: 30px;
    left: 30px;
    width: 20px;
    height: 20px;
    background: transparent url('../../../public/Images/Component\ 32.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.input{
    position: absolute;
    top: 30px;
    left: 56px;
    width: 74px;
    height: 14px;
    text-align: left;
    font: normal normal medium 12px/14px Gilroy;
    letter-spacing: 0px;
    color: #9A9A9E;
    opacity: 1;
}
.input>input{
    border: none;

}

.settingFilter{
    position: absolute;
    top: 30px;
    left: 519px;
    width: 26px;
    height: 26px;
    /* UI Properties */
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Gilroy, Medium ;

}
.filterText{
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    letter-spacing: 0px;
color: #303030;
opacity: 1;

}

.seller{
    background-color: #88C2BB;
    background: var(--unnamed-color-88c2bb) 0% 0% no-repeat padding-box;
    background: #88C2BB 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.artists{
    border: none;
    color: #101010;
    font-size: 16px;
}