
.slidePrice{
    display: flex;
    flex-direction: column;
    height: 180px;
    gap: 14px;
    width: 260px;
    padding: 0px 2px;

}

.slidePrice>p{
    font-size: 14px;
}

.slidePrice img{
    height: 130px;
    width: 252px;

}

.rate{
    width: 78px;
height: 29px;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
}

.pricePainting{
    font-size: 24px;
    color: #101010;
}

.startPrice{
    width: 14px;
height: 14px;
/* UI Properties */
background: transparent url('img/star.png') 0% 0% no-repeat padding-box;
opacity: 1;
}